* {

    outline: 2px solid red;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* sets flex direction to vertical, default is row */

}

.s1 {

    color:black; /* text color */
    background: lightskyblue;
    font-size: 12px;
    font-family:'Arial', 'Helvetica', sans-serif; /* add multiple fonts and generic as "fallback" */
    padding-left: 20%;
    padding-right: 20%; /* space between border and text */
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;

}

.s1-header {

    font-size: 20px;
    font-weight: bold;

}

button { /* type selector */

    color:aliceblue;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 8px;

    transition: transform 275ms ease-in-out;

}

button:hover { /* this is a type selector */

    transform: scale(1.1);

}